.side_navigation{width: 5%;background-color: #323a45;height:100%;height:1000px;}
.main_data_section_view{width: 100%;background-color: lightgrey;min-height:1000px;}
.admin_home_dash_board_section{display:flex;width:100%;height:100%;}
.minmize_side_navigation{width:5%;}
.expand_data_section{width:95%;}
.expand_side_navigation{width:20%;}
.minimize_data_section{width:80%;}